%h1
  = @user.username
= render 'form'
%h1 Your beats
- @user.beats.each do |beat|
  = link_to beat.name, edit_beat_path(beat)
%h1 Your favorites
- @user.likes.each do |like|
  %div
    = link_to like.beat.name, beat_path(like.beat)
    produced by
    %b
      = "@" + like.beat.user.username

    %div#like-button
      = like_button_tag like.beat, like
%p
  = link_to 'Back', :beats