- content_for :title, "Your profile"
.name
  %h2.headline.name__headline
    = "@"+@user.username
  .name__info
    = @user.beats.count
    beats
    
.favorites
  %h2.headline Your favorites
  .item-container
    - @user.likes.each do |like|
      .beat.js-hideOnDislike
        = link_to like.beat.name, beat_path(like.beat), class: "beat__link"
        .beat__producer
          = link_to "@"+User.find(like.beat.user_id).username, User.find(like.beat.user_id)
          

        #like-button.beat__like{id: like.beat.id}
          = like_button_tag like.beat, like

.user-beats
  %h2.headline Your beats
  .item-container
    - @user.beats.each do |beat|
      .beat
        = link_to beat.name, edit_beat_path(beat), class: "beat__link"

%hr.divider

.profile
  %h2.headline Edit your profile
  = render 'form'