- content_for :title, "Register at CollabCave"
%section.login
  .login__box
    = form_for @user, :html => { class: "login__form" } do |f|
      .login__input
        .login__field-wrapper
          = text_field_tag :beta_key, "", class: "login__field", placeholder: " ", required: true
        .login__field-wrapper
          = f.text_field :email, placeholder: " ", class: "login__field", type: "email", required: true
        .login__field-wrapper
          = f.text_field :username, placeholder: " ", class: "login__field", required: true, pattern: '^[a-zA-Z0-9\-_]+$', title: "Only numbers, letters, hyphen and dash allowed!"
        .login__field-wrapper
          = f.password_field :password, placeholder: " ", class: "login__field", required: true
        .login__field-wrapper
          = f.password_field :password_confirmation, placeholder: " ", class: "login__field login__field--password", required: true
        = f.submit "Register", class: "button button--standard"

    .login__register
      Got an account already?
      = link_to "Log In", :login, class: "login__register-link"

