- if @beats
  %h3 Filter by
  .search
    %input{placeholder: 'BPM'}
    %select{placeholder: 'Key'}
      %option{} F#m
      %option{} D
    %input{placeholder: 'Type Beat Artists (seperated by commas)'}
    %button Filter

  - @beats.each do |beat|
    %p
      %b
        = link_to beat.name, beat_path(beat)
        = beat.bpm
        = beat.key
        Type: 
        = beat.tag_list
      posted by
      %b
        = "@" + User.find(beat.user_id).username
      %br
      %audio{ :controls => 'controls' }
        %source{ :src => "#{beat.link+"?raw=1"}" }


      - previous_like = beat.likes.find { |like| like.user_id == current_user.id}
      %p#likes-count
        = pluralize(beat.likes.count, 'Like')
      %div#like-button
        = like_button_tag beat, previous_like
        
      - if current_user.id == beat.user_id  
        = link_to 'Edit', edit_beat_path(beat)
        = link_to 'Delete', beat, method: "DELETE", data: {confirm: "Do you really want to delete #{beat.name}?"}

  