.feed
  %h2.headline Feed

  - if @beats
    = render "filter"

    - @beats.each do |beat|
      .feed__beat
        .beat__box
          .beat__box--1
            // Beat-Infos
            = link_to beat.name, beat_path(beat), class: "box__title"

            .box__info
              .box__info--key
                = beat.key
              .box__info--bpm
                = beat.bpm.to_s + " BPM"

            .box__tag-list
              - beat.tags.each do |artist|
                .tag-list__artist
                  = artist
          .beat__box--2
            .box__interaction
              // Beat likes
              - previous_like = beat.likes.find { |like| like.user_id == current_user.id }
              -# %p#likes-count
              -#   = pluralize(beat.likes.count, 'Like')
              #like-button{id: beat.attributes["id"]}
                = like_button_tag beat, previous_like
              
              -# = link_to beat.link, class: "icon" do
              -#   = image_tag "download.svg"
                
              // Beat owner options
              - if current_user.id == beat.user_id  
                = link_to edit_beat_path(beat), class: "icon" do
                  = image_tag "pencil.svg"
                = link_to beat, method: "DELETE", data: {confirm: "Do you really want to delete #{beat.name}?"}, class: "icon" do
                  = image_tag "bin.svg"
                
            // Beat Player
            .box__player
              %audio#player{ controls: '' }
                %source{ src: "#{beat.link+"?raw=1"}", type: "audio/mp3"}

        .beat__details
          -# .beat__details--date
          -#   created at
          -#   = beat.created_at.strftime("%a, %d %b %Y %H:%M:%S")
          .beat__details--text
            posted by
          .beat__details--user
            = "@" + User.find(beat.user_id).username