= form_for @beat do |f|
  .form
    %h2.headline
      Post a new beat
    = f.text_field :name, class: 'input input--standard', placeholder: 'Name'
    = f.text_field :bpm, class: 'input input--standard', placeholder: 'BPM'
    = f.text_field :key, class: 'input input--standard', placeholder: 'Key'
    = f.text_field :link, class: 'input input--standard', placeholder: 'Dropbox-Link'
    - if params[:action] == 'edit'
      = f.text_field :tag_list, value: @beat.tag_list.join(", "), class: 'input input--standard'
      = f.submit "Save Beat", class: "button button--standard"
    - else
      = f.collection_select :tag_list, ActsAsTaggableOn::Tag.all, :name, :name, {}, multiple: true
      = f.submit "Save Beat", class: "button button--standard"