- if current_user.id == @beat.user_id
  .add-stems
    %h2.headline
      Add a stem
    
    = form_for [@beat, @beat.stems.new] do |s|
      .add-stems__inputs
        = s.text_field :name, class: 'input input--standard add-stems__inputs--name', placeholder: 'Name', pattern: '.{3,25}', title: "Maximum length is 25 letters!", required: true
        = s.text_field :link, class: 'input input--standard add-stems__inputs--link', placeholder: 'Dropbox-Link', pattern: '.*\.(?:mp3|ogg|wav)$', title: "Link must end on either .mp3, .wav or .ogg!", required: true, id: "linkField", onblur: "clearLink()"
      = s.submit "Add", class: "button button--standard add-stems__button"

.stems
  %h2.headline
    Important Stems for 
    = "'" + @beat.name + "'"
  - @stems.each do |stem|
    .stem
      .stem__name
        = stem.name
      .stem__audioplayer
        %audio#playerApproved{ controls: '' }
          %source{src: "#{stem.link+"?raw=1"}", type: "audio/mp3" }
      .stem__delete
      - if current_user.id == @beat.user_id
        = link_to beat_stem_path(@beat, stem), method: "DELETE", data: { confirm: "Do you really want to delete #{stem.name}?" }, class: "icon" do
          = image_tag "bin.svg"

:javascript
  function clearLink() {
    var linkField = document.getElementById("linkField");
    var link = linkField.value;
    if(link.includes(".mp3")) {
      linkField.value = link.split('.mp3')[0]+'.mp3';
    }
    if(link.includes(".wav")) {
      linkField.value = link.split('.wav')[0]+'.wav';
    }
    if(link.includes(".ogg")) {
      linkField.value = link.split('.ogg')[0]+'.ogg';
    }
  }