%div Name:
= @beat.name
%div BPM:
= @beat.bpm
%div Key:
= @beat.key
%div Link:
= @beat.link
%div Type Beat Artists:
= @beat.tag_list.join(", ")

%p Stems:
= render 'stems_form'

- previous_like = @beat.likes.find { |like| like.user_id == current_user.id}
%p#likes-count
  = pluralize(@beat.likes.count, 'Like')
%div#like-button
  = like_button_tag @beat, previous_like

= link_to 'Back', :beats