Name:
= @beat.name
BPM:
= @beat.bpm
Key:
= @beat.key
Link:
= @beat.link
Type Beat Artists:
= @beat.tag_list.join(", ")

Stems:
= render 'stems_form'

- previous_like = @beat.likes.find { |like| like.user_id == current_user.id}
%p#likes-count
  = pluralize(@beat.likes.count, 'Like')
#like-button
  = like_button_tag @beat, previous_like

= link_to 'Back', :beats