- meta_tag :property, "CollabCave - #{@beat.name} #{@beat.bpm}BPM #{@beat.key}"

.name
  %h2.headline.name__headline
    = @beat.name
  
  .name__info
    posted by
    .name__info--important
      = link_to "@"+User.find(@beat.user_id).username, User.find(@beat.user_id)

.feed__beat
  .beat__box
    .beat__box--1
      // Beat-Infos
      = link_to @beat.name, beat_path(@beat), class: "box__title"
      .box__info
        .box__info--key
          = @beat.key
        .box__info--bpm
          = @beat.bpm.to_s + " BPM"
      .box__tag-list
        - @beat.tags.each do |artist|
          .tag-list__artist
            = artist
    .beat__box--2
      .box__interaction
        // Beat likes
        - previous_like = @beat.likes.find { |like| like.user_id == current_user.id }
        -# %p#likes-count
        -#   = pluralize(@beat.likes.count, 'Like')
        #like-button{id: @beat.id}
          = like_button_tag @beat, previous_like
          
        // Beat owner options
        - if current_user.id == @beat.user_id  
          = link_to edit_beat_path(@beat), class: "icon" do
            = image_tag "pencil.svg"
          = link_to @beat, method: "DELETE", data: {confirm: "Do you really want to delete #{@beat.name}?"}, class: "icon" do
            = image_tag "bin.svg"

        // Beat Player
      .box__player
        - if current_user.outgoing_collaboration_requests.find_by(beat_id: @beat.id)
          - if current_user.outgoing_collaboration_requests.find_by(beat_id: @beat.id).approved == true
            %audio#playerApproved
              %source{ src: "#{@beat.link+"?raw=1"}", type: "audio/mp3" }
          - else
            %audio#playerNotApproved
              %source{ src: "#{@beat.link+"?raw=1"}", type: "audio/mp3" }
        - else
          %audio#playerNotApproved
            %source{ src: "#{@beat.link+"?raw=1"}", type: "audio/mp3" }

- if current_user.beats.find_by_id(@beat.id) || current_user.outgoing_collaboration_requests.find_by(beat_id: @beat.id)
- else
  .load-area
    = link_to 'Request collab', {controller: "collaboration_requests", action: "create", beat_id: @beat.id, collaborator_id: current_user.id, producer_id: @beat.user_id}, method: :post, id: "load-more-beats", class: "button button--link"
- if @stems
  = render 'stems_form'