- meta_tag :property, "CollabCave - Login"
- content_for :title, "CollabCave"
%section.login
  .login__box
    .left
      .left__content
        .content__logo
          = show_svg('cclogo.svg')
        .loginpacker
          .content__text
            .content__text--headline
              Hey, you!
            .content__text--cta
              %p
                Welcome to Collabcave, fellow producer!
              %p
                Start to collaborate with creative producers from
                all around the world and grow together.
          .content__form
            = render "form"
        .content__footer
          © CollabCave 2019, All Rights Reserved.
    .right
      .right__toprightrect
        = show_svg('toprightrect.svg')
      .right__downleftrect
        = show_svg('downleftrect.svg')
      .floating
        .right__illustration
          = show_svg('illustrationv2.svg')
    .lpfooter
      © CollabCave 2019, All Rights Reserved.