- on_feed = current_page?(:beats) ? 'header__item--active' : ' '
- on_profile = current_page?(edit_user_path(current_user)) ? 'header__item--active' : ''
%nav.header
  %ul.header__nav
    %li.header__item
      = image_tag "collabcave_logo.svg"
    %li.header__item
      = link_to "Feed", :beats, class: "#{on_feed}"
    %li.header__item
      = link_to "Profile", edit_user_path(current_user), class: "#{on_profile}"
    %li.header__item
      = link_to 'Logout', :logout, method: "POST"
    %li.header__item
    
.burger-menu
  %h1
    = image_tag "collabcave_logo.svg"
  %input#burger{:type => "checkbox"}
  %label{:for => "burger"}
    %span
    %span
    %span
  %nav
    %ul
      %li
        = link_to "Feed", :beats, class: "#{on_feed}"
      %li
        = link_to "Profile", edit_user_path(current_user), class: "#{on_profile}"
      %li
        = link_to 'Logout', :logout, method: "POST"