- on_feed = current_page?(:feed) ? 'header__item--active' : ' '
- on_profile = current_page?(edit_user_path(current_user)) ? 'header__item--active' : ''
- on_collabs = current_page?(:collaborations) ? 'header__item--active' : ''
%nav.header
  %ul.header__nav
    %li.header__item
      = link_to :feed do 
        = image_tag "collabcave_logo.svg"
    %li.header__item--text
      = link_to "Feed", :feed, class: "#{on_feed}"
    %li.header__item--text
      = link_to "Collabs ("+current_user.outgoing_collaboration_requests.where(approved: false).count.to_s+")", :collaborations, class: "#{on_collabs}"
    %li.header__item--text
      = link_to "Profile", edit_user_path(current_user), class: "#{on_profile}"
    %li.header__item--text
      = link_to 'Logout', :logout, method: "POST"

.burger-menu
  %h1
    = link_to :beats do 
      = image_tag "collabcave_logo.svg"
  %input#burger{:type => "checkbox"}
  %label{:for => "burger"}
    %span
    %span
    %span
  %nav
    %ul
      %li
        = link_to "Feed", :feed, class: "#{on_feed}"
      %li
        = link_to "Collabs", :collaborations, class: "#{on_collabs}"
      %li
        = link_to "Profile", edit_user_path(current_user), class: "#{on_profile}"
      %li
        = link_to 'Logout', :logout, method: "POST"