!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'CollabCave'
    %link{href: "https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700", rel: "stylesheet"}
    %link{href: "https://cdn.plyr.io/3.4.7/plyr.css", rel: "stylesheet"}
    = csrf_meta_tags
    = csp_meta_tag
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    - flash.each do |key, value|
      = content_tag :div, value, class: "#{key}"

    = render 'layouts/header' unless @disable_header
    .content
      = yield
    = render 'layouts/footer' unless @disable_header
    %script{:src => "https://cdn.plyr.io/3.4.7/plyr.js"}
    %script{:src => "https://cdn.rangetouch.com/1.0.5/rangetouch.js"}

:javascript
  $(function() {
    setTimeout(function(){
      $('.notice').slideUp(500);
      $('.alert').slideUp(500);
    }, 1000);
  });

  $(".heart").wrap("<div class='heart-container'></div>");
  $('.heart').on('click', function(){
    $(this).toggleClass('is_animating');
  });
  $('.heart').on('animationend', function(){
    $(this).toggleClass('is_animating');
  });
  
  
  if ($(window).width() <= 460) {
    const players = Array.from(document.querySelectorAll('#player')).map(p => new Plyr(p, {
      controls: [
        'play',
      ]
    }));
  } else {
    const players = Array.from(document.querySelectorAll('#player')).map(p => new Plyr(p, {
      controls: [
        'play',
        'current-time',
        'volume',
        'download',
      ]
    }));
  }
  
  $('#beat_tag_list').select2({
    placeholder: 'Artists',
    multiple: true,
    theme: 'flat',
    tags: true,
    width: '100%',
    tokenSeparators: [','],
    maximumSelectionLength: 3
  });