!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'CollabCave'
    %link{href: "https://fonts.googleapis.com/css?family=Lato", rel: "stylesheet"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %p#notice
      = flash[:notice]
    %p#alert
      = flash[:alert]
    = yield
:javascript
  $(document).ready(function() {
    $('#beat_tag_list').select2({
      multiple: true,
      theme: 'classic',
      tags: true,
      tokenSeparators: [','],
      maximumSelectionLength: 3
    });
  });