!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'CollabCave'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %p#notice
      = flash[:notice]
    %p#alert
      = flash[:alert]
    = yield
